{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Branch Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post"   id="BranchRegistrationForm" data-taluka-url={% url 'load-taluka' %}>
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script>
        $("#id_district").change(function () {
          var url = $("#BranchRegistrationForm").attr("data-taluka-url");
          var districtId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'district': districtId
            },
            success: function (data) {
              $("#id_taluka").html(data);
            }
          });

        });
        $("#id_taluka").change(function () {
          var url = $("#BranchRegistrationForm").attr("data-taluka-url");
          var talukaId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'taluka': talukaId
            },
            success: function (data) {
              $("#id_village").html(data);
            }
          });

        });
      </script>


    </div>
  </div>


<!--  <div class="card">-->
<!--      <div class="card-header">-->
<!--          <i class="fa fa-align-justify"></i>Branch List</div>-->
<!--      <div class="card-body">-->
<!--          <table class="table table-responsive-sm">-->
<!--              <thead>-->
<!--                  <tr>-->
<!--                      <th>Id</th>-->
<!--                      <th>Branch Name</th>-->
<!--                      <th>Bank Name</th>-->
<!--                      <th>Address</th>-->
<!--                      <th>Branch Manager</th>-->
<!--                      <th>Phone</th>-->
<!--                      <th>District</th>-->
<!--                      <th>Register Date</th>-->
<!--                  </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--                  {% for branch in branch %}-->
<!--                    <tr>-->
<!--                        <td>{{ branch.id }}</td>-->
<!--                        <td>{{ branch.branch_name }}</td>-->
<!--                         <td>{{ branch.bank }}</td>-->
<!--                         <td>{{ branch.address }}</td>-->
<!--                         <td>{{ branch.manager }}</td>-->
<!--                         <td>{{ branch.phone }}</td>-->
<!--                         <td>{{ branch.district }}</td>-->
<!--                        <td>{{ branch.date }}</td>-->
<!--                    </tr>-->
<!--                  {% endfor %}-->
<!--              </tbody>-->
<!--          </table>-->
<!--      </div>-->
<!--  </div>-->
{% endblock %}
