{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Construction Type Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Construction Type List</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Register Date</th>
                  </tr>
              </thead>
              <tbody>
                  {% for construction_type in construction_type %}
                    <tr>
                        <td>{{ construction_type.id }}</td>
                        <td>{{ construction_type.name }}</td>
                        <td>{{ construction_type.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
